# Виртуальное окружение Python
.venv/
venv/
ENV/
env/

# Файлы настроек PyCharm
.idea/

# Локальная база данных SQLite
*.sqlite3

# Кэш Python компилятора
__pycache__/
*.pyc

# Переменные окружения (секреты)
.env
